*.iml
.DS_Store

/.gradle/
/.gradle-user-home/
/.idea/
/build/
/app/build/
/captures/
/.externalNativeBuild/
/.cxx/
/local.properties
/keystore.properties
/keystore/

/app/src/androidTest/
/app/src/test/
